<div class="grid-container mx-5">
    {{#each mascotas}}
    <div class="col-md-10 mx-4">
        <div class="grip-item card formulario2">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-center text-black fw-bold">
                    <i class="fa-solid fa-paw text-danger"></i>{{nombre}}
                </h4>
            </div>
            <div class="card-title d-flex justify-content-around">
                <div>
                    {{#if perfil}}
                    <img class="perfilm" src="{{perfil}}" alt="">
                    {{else}}
                    <img class="perfilm" src="/img/logo.png" alt="">
                    {{/if}}
                    <div class="d-flex justify-content-around">
                        <a href="/mascotas/info/{{_id}}"><i class="fa-solid fa-circle-info text-primary"></i></a>
                         <!----==== <a href="/mascotas/addfotos/{{_id}}"><i class='bx bxs-image-add ' ></i></a> ===--->
                        <a href="/mascotas/edit/{{_id}}"><i class="fas fa-edit text-success"></i></a>
                    </div>
                </div>
                <div>
                    <label class="form-label fw-bold text-danger">Especie</label>
                    <p class="fw-bold">
                        {{especie}}
                    </p>
                </div>
                <div>
                    <label class="form-label fw-bold text-danger">Raza</label>
                    <p class="fw-bold">
                        {{raza}}
                    </p>
                </div>
            </div>
            {{#if estado}}
            <div class=" d-flex justify-content-center">
                <form action="/mascotas/recu-mascotas/{{_id}}?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="d-flex justify-content-center olvide1">
                        <button class="btn btn-success btn-block" type="submit">
                            Recuperada
                        </button>
                    </div>
                </form>

            </div>
            {{else}}
            <div class=" d-flex justify-content-center">
                <a href="/mascotas/reporte/{{_id}}" class="btn btn-danger btn-block">Reportar</a>
            </div>
            {{/if}}
        </div>
    </div>

    {{else}}
    <div class="card mx-auto d-flex justify-content-center align-self-center mt-4">
        <div class="card-body">
            <h1> Hola {{user.nombre}}</h1>
            <p class="lead">No tiene Mascotas agregadas</p>
            <a href="/mascotas/agregar" class="btn btn-success btn-block">Agregar Mascota</a>
            {{imageURL}}
        </div>
    </div>
    {{/each}}
</div>